﻿@model IEnumerable<Image.Data.Models.Contest>

@{
    ViewData["Title"] = "Contests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contests</h1>

<p>
    <a asp-controller="Contest" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.ContestPhase)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <button type="button" class="btn btn-info">Attend</button>
            </td>

        </tr>
        }
    </tbody>
</table>
